{% extends "base.html" %} {% block title %}Einstellungen{% endblock %} {% block
content %}
<div class="container mt-4">
  <h1>Einstellungen</h1>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>db settings</h5>
        </div>
        <div class="card-body">
          <!-- POST-Formular für Ani DB -->
          <form method="POST" action="{{ url_for('settings') }}">
            <button
              type="submit"
              name="create_ani_sto_table"
              value="1"
              class="btn btn-primary mb-2"
            >
              Create db table for Ani and sto
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Aniworld db settings</h5>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('settings') }}">
            <button
              type="submit"
              name="update_ani_urls_name_db"
              value="1"
              class="btn btn-primary mb-2"
            >
              Update db Urls and Names for Ani
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Sto db settings</h5>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('settings') }}">
            <button
              type="submit"
              name="update_sto_urls_name_db"
              value="1"
              class="btn btn-primary mb-2"
            >
              Update db Urls and Names for Sto
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
